---
services:
  frontend:
    build: .
    image: the-everything-shop-frontend
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - tes-dev

networks:
  tes-dev:
    external: true
