.login {
  padding: 20px 60px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  &__image {
    width: 400px;
    height: auto;
    aspect-ratio: 4/3;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__form {
    &-title {
      padding: 0;
      margin: 0 0 8px 0;
      font-size: 32px;
      color: #008ECC;
    }

    &-subtitle {
      padding: 0;
      margin: 0 0 24px 0;
      color: #999
    }
  }
}