.profile {
  padding: 20px 60px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  &__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: #FAFAFA;

    &-image {
      margin-right: auto;
      margin-left: auto;
    }

    &-name {
      padding: 4px;
      margin: 24px 0 0 0;
    }

    &-email {
      padding: 4px;
      margin: 0 0 24px 0;
    }
  }

  &__menu {
    background: transparent;
    border: none;

    .ant-menu {
      background: transparent;
    }

    .ant-menu-item {
      padding: 0 !important; // xoá padding mặc định
      margin-bottom: 12px;
      border-radius: 8px;
      overflow: hidden;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 16px;
      background-color: #fff;
      transition: background-color 0.2s ease, color 0.2s ease;
      cursor: pointer;

      &-left {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      &-right {
        svg {
          font-size: 12px;
          color: #999;
        }
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .ant-menu-item-selected .profile__menu-item {
      background-color: #008ecc;
      color: #fff;

      .profile__menu-item-left {
        color: #fff;
      }

      .profile__menu-item-right {
        svg {
          color: #fff;
        }
      }
    }
  }
}