.product-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.main {
    background: #fff;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    /* border-radius: 5px; */
}

/* @media (max-width: 900px) {
    .main {
        flex-direction: column;
    }
} */