.confirmation {
  padding: 20px 60px;
  border-radius: 12px;
  margin-top: 32px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  &__image {
    width: 400px;
    height: auto;
    aspect-ratio: 4/3;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__form {
    &-title {
      padding: 0;
      margin: 0 0 8px 0;
      font-size: 32px;
      color: #008ECC;
    }

    &-subtitle {
      padding: 0;
      margin: 0 0 24px 0;
      color: #999
    }
  }
}

.ant-otp-input {
  padding: 12px 4px !important;
}

.btn-confirm {
  width: 100%;
  color: white;
  background-color: #008ECC;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.25s ease;   /* Hiệu ứng mượt */
  box-shadow: 0 2px 6px rgba(0, 142, 204, 0.25);
}

.btn-confirm:hover {
  background-color: #0077b3 !important;
  box-shadow: 0 4px 12px rgba(0, 142, 204, 0.35);
}

.btn-confirm:active {
  transform: scale(.98);
  background-color: #006699 !important;
}