.product-section {
    margin-top: 32px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.banner-box {
    width: 100%;
    height: 100%;
}

.banner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
